In [1]:
#1.	What is the output of the following code?

num = set([1,1,2,3,3,3,4,4])

print(len(num))

4

In [2]:
print(num)

{1, 2, 3, 4}

In [2]:
#2.	What will be the output?

list1 ={'Rik':25,'lisha':22,'Sushan':18}

print(list(list1.keys()))

['Rik', 'lisha', 'Sushan']

In [4]:

print(list(list1.values()))

[25, 22, 18]

In [11]:
print(list1['Rik'])

25

In [16]:
for count,i in enumerate (list1):
    print(count,list1)

0 {'Rik': 25, 'lisha': 22, 'Sushan': 18}
1 {'Rik': 25, 'lisha': 22, 'Sushan': 18}
2 {'Rik': 25, 'lisha': 22, 'Sushan': 18}

In [21]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

In [42]:
#7.	Please write a program which count and print the numbers of each character in a string input by console


a = [4,7,3,2,5,9]


for i in range(len(a)):
    
    print(a [i],' position is',i)

4  position is 0
7  position is 1
3  position is 2
2  position is 3
5  position is 4
9  position is 5

In [46]:


a = [4,7,3,2,5,9]

for b in a:
    print(b, 'is position',a.index(b)+1)

4 is position 1
7 is position 2
3 is position 3
2 is position 4
5 is position 5
9 is position 6

In [43]:
a = [4,7,3,2,5,9]

for item in a :
    print(str(item)+" is position " +str(a.index(item)+1))

4 is position 1
7 is position 2
3 is position 3
2 is position 4
5 is position 5
9 is position 6

In [9]:
#7.	Please write a program which count and print the numbers of each character in a string input by console

dic = {}
s=input('Enter string  :')
for s in s:
    dic[s] = dic.get(s,0)+1
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

Enter string  :salary
s,1
a,2
l,1
r,1
y,1

In [62]:
#5.	Please write a program which accepts a string from console and print the characters that have even indexes.


s=input("Enter numeric string which wil contain alternate alphabates and numbers :")
s = s[::2]
print(s)

Enter numeric string which wil contain alternate alphabates and numbers :i2b4r8a9hdicm
ibrahim

In [71]:
#_Please write a program which accepts a string from console and print it in reverse order.

a = input("Write a string which will show you in a reverse form :")

b = a[::-1]

print('Revers form : ',b)

Write a string which will show you in a reverse form :ladnom miharbi
Revers form :  ibrahim mondal

In [73]:
a = [10,20,30,40,50,55,60]
b = [x for x in a if x!=55]
print(b)

[10, 20, 30, 40, 50, 60]

In [76]:
c = [12,24,35,70,88,120,155]

d = [i for (x,i) in enumerate (c) if x not in (0,4,5)]
print(d)

[24, 35, 70, 155]

In [88]:
c = [12,24,35,70,88,120,155]

d = [i for (x,i) in enumerate (c) if x not in (0,4,5)]
print(d)

[24, 35, 70, 155]

In [79]:
a = ['bread','milk','butter']

for i in enumerate (a):
    print(i)

(0, 'bread')
(1, 'milk')
(2, 'butter')

In [84]:
food = ['bread','milk','butter']

for count,item in enumerate (food,1):
    print(count,item)

1 bread
2 milk
3 butter

In [17]:
set1={1,3,6,78,35,55}
set2={12,24,35,24,88,120,155}

set1 &=set2
li = list(set1)

print(li)

[35]

In [27]:
set1 &= set2
set3 = tuple(set1)
print(set3)

(35, 55)

In [28]:
list1 = [1,3,6,78,35,55]
list2 = [12,24,35,24,55,88,120,155]
set1= set(list1)
set2= set(list2)
intersection = set.intersection(set1,set2)
print(intersection)

{35, 55}

In [32]:
set1={1,3,6,78,35,55,120}
set2={12,24,35,24,88,120,155}

inter = set1.intersection(set2)

print(list(inter))

[120, 35]

In [34]:
set1={1,3,6,78,35,55}
set2={12,24,35,24,88,120,155}

intersection = set1|set2
print(intersection)

{1, 3, 35, 6, 88, 12, 78, 55, 24, 155, 120}

In [35]:
a = [12,24,35,24,88,120,155]

b =[ x for x in a if x!=24]
print(b)

[12, 35, 88, 120, 155]

In [48]:
#  Write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].



a = [12,24,35,24,88,120,155]

print (list(x for i,x in  enumerate (a) if x!=0 and x!=4 and x!=5))

[12, 24, 35, 24, 88, 120, 155]

In [6]:
a = [12,24,35,24,88,120,155]
b = [x for i,x in  enumerate (a) if x!=0 and x!=4 and x!=5]


print(b)

[12, 24, 35, 24, 88, 120, 155]

In [7]:
#  Write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [1



li = [12,24,35,70,88,120,155]

li = [x for x in a if not (x%5 ==0 and x%7==0)]

print(li)

[12, 24, 24, 88, 120, 155]

In [57]:
n=int(input("Enter a number"))
sum=0.0
for i in range(1,n+1):
    sum += float(float(i)/(i+1))
print(sum)

Enter a number254
248.87956128718287