In [1]:
import sys

In [4]:
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [5]:
print(sys.version_info)

sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)

In [3]:
import datetime

In [8]:
date= datetime.datetime.now()
print(date)

2022-01-28 00:30:32.027610

In [22]:
a = datetime.datetime.now()
print(a.strftime('%Y-%m-%A %H:%M:%S:'))

2022-01-Fri 00:39:48:

In [4]:
a = datetime.datetime.now()
print(a.strftime('%Y-%B-%A ''\n''%I:%M:%S:%f %p'))

2022-December-Sunday
04:49:43:379971 PM

In [38]:
a = datetime.datetime.now()
print(a.strftime('%x' '\n' '%c'))

01/28/22
Fri Jan 28 00:47:09 2022

In [5]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print(("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2)))

Input the radius of the circle : 2
The area of the circle with radius 2.0 is: 12.566370614359172

In [46]:
r = float(input ("Input the radius of the circle : "))
print(("The area of the circle with radius " +str(r)+" is: "+str(pi * r**2)))

Input the radius of the circle : 1.1
The area of the circle with radius 1.1 is: 3.8013271108436504

In [57]:
fname =str(input("Enter the fast name : "))
lname = str (input("Enter the last name : "))
print("The last name is "+ lname +  " and fast name is " +fname)

Enter the fast name : ibrahim
Enter the last name : mondal
The last name is mondal and fast name is ibrahim

In [58]:
fname =str(input("Enter the fast name : "))
lname = str (input("Enter the last name : "))
print("Hello",fname,lname)

Enter the fast name : ibrahim
Enter the last name : mondal
Hello ibrahim mondal

In [59]:
value= input('Enter the comma separetor number : ')
list1 = value.split(',')
tupl1 = tuple (list1)
print('List :',list1)
print('Tuple :',tupl1)

Enter the comma separetor number : 10,50,25,30
List : ['10', '50', '25', '30']
Tuple : ('10', '50', '25', '30')

In [60]:
 a = "Hi#My#Name#is#Ibrahim"
b= a.split('#')
print(b)

['Hi', 'My', 'Name', 'is', 'Ibrahim']

In [62]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [70]:
txt = "my name is ibrahim, I am from Kolkata,India"
txt1 =txt.split(',')
print(txt1)

['my name is ibrahim', ' I am from Kolkata', 'India']

In [65]:
txt = "apple#banana#cherry#orange"

x = txt.split("#",2)
print(x)

['apple', 'banana', 'cherry#orange']

In [74]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: abx/s/fjg.cf
The extension of the file is : 'cf'

In [77]:
date = datetime.datetime.now()
print(date)
print(str(date))
print(repr(date))

2022-01-28 01:26:34.730195
2022-01-28 01:26:34.730195
datetime.datetime(2022, 1, 28, 1, 26, 34, 730195)

In [6]:
import datetime
today = datetime.datetime.now()
print (today)
print (str(today))
#prints the official format of date-time object
print (repr(today))

2022-12-25 16:51:25.629408
2022-12-25 16:51:25.629408
datetime.datetime(2022, 12, 25, 16, 51, 25, 629408)

In [2]:
list1 = ['White','Black','Red','Yellow']
print(list1[0],list1[-1])

White Yellow

In [9]:
a = input("Enter the number :")
a1 =int('%s' % a)
a2 =int('%s%s'%(a,a))
a3 =int('%s%s%s'%(a,a,a))
print(a1+a2+a3)

Enter the number :5
615

In [7]:
a = [10,15.5,'Ibrahim','mondal']

b = []
c = []
d = []
for i in a:
    if (type(i)) == int:
        b.append(i)
    elif (type(i)) == float:
        c.append(i)
    else:
        d.append(i)

In [8]:
print(d,c)

['Ibrahim', 'mondal'] [15.5]

In [19]:
print(c)

[15.5]

In [20]:
print(b)

[10]

In [30]:
b = []
c = []
d = []

a = input()


for i in a:
    if (type(i)) == int:
        b.append(i)
    elif (type(i)) == float:
        c.append(i)
    else:
        d.append(i)

10,105.50

In [32]:
print(b)

[]

In [9]:
li = [10,20,30,'Sam', 'Bill',40, ]
l2 = []
l3 = []
for i in li:
    if (type(i)) == int :
        l2.append (i) 
    elif (type(i)) == str:
        l3.append (i)

In [10]:
l2

[10, 20, 30, 40]

In [16]:
l3

['Sam', 'Bill']

FUNCATION

In [11]:
def salse():
    qun = 100
    pr = 100
    amt= qun *pr
    print(amt)

In [12]:
salse()

10000

In [13]:
def sales():
    pr=100
    qty =50
    amt = pr +qty
    print (amt)

In [14]:
sales ()

150

In [20]:
def sales():
    pr=100
    qty =50
    amt = pr *qty
    print (amt)

In [34]:
salse()

10000

In [16]:
def sales(pr ,qty ):
    
    amt = pr *qty
    print (amt)

In [17]:
sales(100,25)

2500

In [61]:
def sales(pr=10, qty=250):

    amt = pr *qty
    print (amt)

In [62]:
salse()

10000

In [1]:
def sales(pr, qty):

    amt = pr *qty
    
    return (amt)

In [19]:

print(sales(100,1500))

150000

In [72]:
def sales(pr=10, qty=250):

    amt = pr *qty
    print (amt)
    return (amt)

In [20]:
total= sales(100,150)
print(total)

15000

In [21]:
def sales(Prc= 100, Qty =50):
    Total_Sales = (Qty*Prc)
    return (Total_Sales)

x= sales (200,200)
print (x)

40000

In [22]:
def sales (revenue,expenses):
    """ This Function is calculate profit and profit ratio """
    total_profit= (revenue-expenses)
    profit_ratio=(total_profit/revenue)
    new_financial = (total_profit,profit_ratio)
    return (new_financial)

print(sales(100000,70000))

(30000, 0.3)

In [23]:
def financials (revenue,expenses):
    """ This function is used to calculate profit and profit ratio"""
    profit = revenue -expenses
    profit_ratio = profit/revenue 
    new_financials = (profit ,profit_ratio)
    return (new_financials)

total= financials(100,10)
print('Profit is :',total[0])
print('Ratio is :',total[1])

Profit is : 90
Ratio is : 0.9

In [116]:
def convertto (deg):
    F= (deg*9/5)+32
    return (F)

temp = 38
temp= convertto (temp)
print (temp)

100.4